apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:7.0.11-alpine
          ports:
            - containerPort: 6379

        - name: redis-exporter
          image: oliver006/redis_exporter:v1.80.1-alpine
          ports:
            - containerPort: 9121

          resources:
            requests:
              cpu: 2m
              memory: 4Mi
            # limits:
            #   cpu: 6m
            #   memory: 8Mi
            
          volumeMounts:
            - name: redis-storage
              mountPath: /data
      volumes:
        - name: redis-storage
          persistentVolumeClaim:
            claimName: redis-pvc