prometheusOperator: #(1.48m / 32.3) cpu/memory
  admissionWebhooks:
    enabled: false
    patch:
      enabled: false
  tls:
    enabled: false
  nodeSelector:
    role: worker
  resources:
    requests:
      cpu: 2m
      memory: 30Mi
    # limits:
    #   cpu: 6m
    #   memory: 64Mi

kube-state-metrics: #(0.49m / 24.0) cpu/memory
  nodeSelector:
    role: worker
  resources:
    requests:
      cpu: 1m
      memory: 25Mi
    # limits:
    #   cpu: 3m
    #   memory: 50Mi

alertmanager: #(0.23m / 19.8) cpu/memory
  enabled: true
  alertmanagerSpec:
    nodeSelector:
      role: worker
    resources:
     requests:
       cpu: 1m
       memory: 20Mi
    #  limits:
    #    cpu: 3m
    #    memory: 40Mi

prometheus:
  prometheusSpec:
    nodeSelector:
      role: worker
    scrapeInterval: "1m" # 스크랩 간격을 1분
    retention: "30d" # 데이터 보존 기간을 10일
    retentionSize: "13GiB"
    resources: #(18.2m / 414) cpu/memory
      requests:
        cpu: 60m
        memory: 360Mi
      # limits:
      #   cpu: 120m
      #   memory: 800Mi

    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 15Gi # 저장 용량을 15Gi

grafana:
  nodeSelector:
    role: worker
  defaultDashboardsTimezone: KST
  adminPassword: "qwer1234!" # Grafana 관리자 비밀번호 설정
  sidecar:
    datasources:
      enabled: true
      defaultDatasourceEnabled: false
  additionalDataSources:
    - name: Prometheus
      type: prometheus
      uid: prometheus
      access: proxy
      url: http://kube-prometheus-stack-prometheus.monitoring:9090
      isDefault: true
    - name: Alertmanager
      type: alertmanager
      uid: alertmanager
      access: proxy
      url: http://kube-prometheus-stack-alertmanager.monitoring:9093
      jsonData:
        implementation: prometheus
  resources: # (3.30m / 141) cpu/memory -> 메모리 변경 폭이 큼
    requests:
      cpu: 10m  #수정
      memory: 140Mi
    # limits:
    #   cpu: 30m #수정
    #   memory: 280Mi

kubeControllerManager:
  enabled: false
kubeScheduler:
  enabled: false
kubeProxy:
  enabled: false
kubeEtcd:
  enabled: false