apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
# cert-manager
  - certs/issuer.yaml
  - certs/certificate.yaml
# networking
  - networking/argocd-route.yaml
  - networking/tls-store.yaml
  - networking/traefik-dashboard.yaml
  - networking/monitoring-route.yaml
  - networking/ingress.yaml
# ecr helper
  - ecr-helper/ecr-cronjob.yaml
# node reaper
  - node-reaper/node-cronjob.yaml

# storage
patches:
  - path: storage/manager-patch.yaml
    target:
      kind: Deployment
      name: local-path-provisioner
      namespace: kube-system

  - path: storage/helper-patch.yaml
    target:
      kind: ConfigMap
      name: local-path-config
      namespace: kube-system