apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 123644281329.dkr.ecr.ap-northeast-2.amazonaws.com/frontend
          ports:
            - containerPort: 80
      imagePullSecrets:
        - name: ecr-secret